name: Syntax checking Lua code

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Lua
        run: sudo apt update && sudo apt install -y lua5.4

      - name: Syntax check
        run: make -j$(nproc)